.lead {
  max-width: 982px;
  margin: 56px auto 0;
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {

  .lead {
    max-width: 924px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 820px) {

  .lead {
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 544px) {

  .lead {
    padding-bottom: 64px;
  }
}
