.intro {
  max-width: 982px;
  margin: auto;
}

@media screen and (max-width: 1024px) {

  .intro {
    max-width: 924px;
  }
}

@media screen and (max-width: 820px) {

  .intro {
    max-width: 716px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 759px) {

  .intro {
    margin: 0 24px;
  }
}

@media screen and (max-width: 544px) {

  .intro {
    max-width: 508px;
    margin: 0 16px;
  }
}
